@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .headerLink {
    @apply cursor-pointer font-semibold transition duration-[.4s] hover:text-[#b3b3b3];
  }

  .css-14b29qc{
    @apply !hidden
  }

  .css-wed0tz.Mui-selected{
    background-color: rgb(157 23 77) !important;
  }

  .css-hlj6pa-MuiDialogActions-root {
    @apply !hidden
  }

  .css-1hbyad5-MuiTypography-root {
    @apply text-inherit
  }

  .css-bkrceb-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: rgb(157 23 77) !important;
  }

  .css-195y93z-MuiButtonBase-root-MuiPickersDay-root.Mui-selected {
    background-color: rgb(157 23 77) !important;
    color: white !important;
  }

  .css-195y93z-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
    border-color: transparent !important;
    color: rgb(157 23 77);
  }

  .css-u0soqy-MuiPickerStaticWrapper-root {
    @apply shadow-lg md:shadow-xl
  }

  .label {
    @apply relative flex pt-5 pb-1  border-b md:border-[#fff] border-[#999] focus:bg-transparent;
  }
  
  .input{
    @apply bg-transparent px-2 outline-none md:text-white w-full placeholder:text-white
  }

  .schedule-button{
    @apply p-2 cursor-pointer transition duration-200 ease-out hover:scale-125  items-center disabled:opacity-50 disabled:scale-100
  }

}